@page "/about"

<PageTitle>About</PageTitle>

@* <MudText Typo="Typo.h1">About</MudText> *@


<MudContainer MaxWidth="MaxWidth.Medium">
	<MudGrid>
		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h1">Exercise 3 - May 2024</MudText>
		</MudItem>

		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h2">Author: Mushafau Oke</MudText>
		</MudItem>
		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h2">Section: E01</MudText>
		</MudItem>
		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h2">Instructor: Tina Caron</MudText>
		</MudItem>
		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h2">Known Bugs:</MudText>
			<ol>
				<li>Bug 1: Author field on the Add Review page not showing up as a dropdown list, thus preventing users from selecting an author.</li>
				<li>Bug 2: Rating field in the Add Review page automatically placed "MustHave" as the default value, and does not appear as a dropdown, preventing users from selecting a rating.</li>								
			</ol>
		</MudItem>
		<MudItem xs="12" class="text-center">
			<MudText Typo="Typo.h3">Credits: Logo created at design.com</MudText>
		</MudItem>
	</MudGrid>
</MudContainer>

@code {

}
